# Northwind – Python for Data
Solución completa (consultas + visualizaciones).

In [ ]:
import os
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine, text

# Config
PG_DSN = os.getenv("PG_DSN", "postgresql+psycopg2://postgres:postgres@localhost:5432/northwind")
SCHEMA = os.getenv("NW_SCHEMA", "public")  # ajusta si importaste en otro esquema

engine = create_engine(PG_DSN)
def q(sql, params=None):
    with engine.begin() as cn:
        return pd.read_sql(text(sql), cn, params=params or {})
print("Conectado a:", PG_DSN)

## Ejercicio 1: Familiarizarse con la BBDD

In [ ]:
# Tablas en el esquema
df_tables = q("""
SELECT table_schema, table_name
FROM information_schema.tables
WHERE table_schema = :schema
  AND table_type = 'BASE TABLE'
ORDER BY table_name
""", {"schema": SCHEMA})
df_tables

In [ ]:
# Claves foráneas
df_fks = q("""
SELECT
  tc.table_schema,
  tc.table_name,
  kcu.column_name,
  ccu.table_schema AS foreign_table_schema,
  ccu.table_name AS foreign_table_name,
  ccu.column_name AS foreign_column_name
FROM information_schema.table_constraints AS tc
JOIN information_schema.key_column_usage AS kcu
  ON tc.constraint_name = kcu.constraint_name AND tc.table_schema = kcu.table_schema
JOIN information_schema.constraint_column_usage AS ccu
  ON ccu.constraint_name = tc.constraint_name AND ccu.table_schema = tc.table_schema
WHERE tc.constraint_type = 'FOREIGN KEY' AND tc.table_schema = :schema
ORDER BY tc.table_name, kcu.column_name
""", {"schema": SCHEMA})
df_fks

## Ejercicio 2: Primeras consultas

In [ ]:
# 2.1 Empleados
q(f"""
SELECT e.employee_id, e.first_name, e.last_name, e.city, e.country
FROM {SCHEMA}.employees e
ORDER BY e.employee_id
""")

In [ ]:
# 2.2 Productos
q(f"""
SELECT p.product_id, p.supplier_id, p.product_name, p.unit_price,
       p.units_in_stock, p.units_on_order, p.discontinued
FROM {SCHEMA}.products p
ORDER BY p.product_id
""")

In [ ]:
# 2.3 Productos descontinuados
q(f"""
SELECT p.product_name, p.units_in_stock
FROM {SCHEMA}.products p
WHERE p.discontinued = 1
ORDER BY p.units_in_stock DESC NULLS LAST, p.product_name
""")

In [ ]:
# 2.4 Proveedores
q(f"""
SELECT s.supplier_id, s.company_name, s.city, s.country
FROM {SCHEMA}.suppliers s
ORDER BY s.supplier_id
""")

In [ ]:
# 2.5 Pedidos
q(f"""
SELECT o.order_id, o.customer_id, o.ship_via, o.order_date, o.required_date, o.shipped_date
FROM {SCHEMA}.orders o
ORDER BY o.order_id
""")

In [ ]:
# 2.6 Número de pedidos
q(f"""SELECT COUNT(*) AS num_pedidos FROM {SCHEMA}.orders""")

In [ ]:
# 2.7 Clientes
q(f"""
SELECT c.customer_id, c.company_name, c.city, c.country
FROM {SCHEMA}.customers c
ORDER BY c.customer_id
""")

In [ ]:
# 2.8 Transportistas
q(f"""
SELECT sh.shipper_id, sh.company_name
FROM {SCHEMA}.shippers sh
ORDER BY sh.shipper_id
""")

In [ ]:
# 2.9 Relaciones de reporte
q(f"""
SELECT e.employee_id, e.first_name || ' ' || e.last_name AS empleado,
       e.reports_to AS manager_id,
       m.first_name || ' ' || m.last_name AS manager
FROM {SCHEMA}.employees e
LEFT JOIN {SCHEMA}.employees m ON m.employee_id = e.reports_to
ORDER BY e.employee_id
""")

## Ejercicio 3: Análisis de la empresa

In [ ]:
# DataFrames base
orders = q(f"SELECT * FROM {SCHEMA}.orders")
customers = q(f"SELECT * FROM {SCHEMA}.customers")
order_details = q(f"SELECT * FROM {SCHEMA}.order_details")
products = q(f"SELECT * FROM {SCHEMA}.products")
suppliers = q(f"SELECT * FROM {SCHEMA}.suppliers")

orders['order_date'] = pd.to_datetime(orders['order_date'])
orders['required_date'] = pd.to_datetime(orders['required_date'])
orders['shipped_date'] = pd.to_datetime(orders['shipped_date'])

orders_customers = orders.merge(customers, how='left', left_on='customer_id', right_on='customer_id', suffixes=('','_cust'))
prod_sup_det = order_details.merge(products, on='product_id', how='left').merge(suppliers, on='supplier_id', how='left', suffixes=('','_sup'))
orders_customers.head(), prod_sup_det.head()

### 3.1 Evolución de pedidos por mes

In [ ]:
orders['year_month'] = orders['order_date'].dt.to_period('M')
evol = orders.groupby('year_month', dropna=True).size().reset_index(name='n_orders')
evol['year_month'] = evol['year_month'].astype(str)
display(evol.head())

plt.figure()
plt.plot(evol['year_month'], evol['n_orders'])
plt.xticks(rotation=45)
plt.title('Evolución mensual de pedidos')
plt.xlabel('Año-Mes')
plt.ylabel('Pedidos')
plt.tight_layout()
plt.show()

### 3.2 Países con más ventas y distribución por continente

In [ ]:
# Ventas = número de pedidos por país del cliente
orders_customers['country'] = orders_customers['country'].fillna('(NA)')
ventas_por_pais = orders_customers.groupby('country', dropna=False).size().sort_values(ascending=False).reset_index(name='n_orders')
display(ventas_por_pais.head(10))

continentes = {
    'Europe': ['Austria','Belgium','Denmark','Finland','France','Germany','Ireland','Italy','Norway','Poland','Portugal','Spain','Sweden','Switzerland','UK'],
    'America': ['Argentina','Brazil','Canada','Mexico','USA','Venezuela']
}
def country_to_continent(c):
    for cont, paises in continentes.items():
        if c in paises:
            return cont
    return 'Other'

ventas_por_pais['continent'] = ventas_por_pais['country'].apply(country_to_continent)
dist_cont = ventas_por_pais.groupby('continent')['n_orders'].sum().reset_index()

plt.figure()
plt.bar(dist_cont['continent'], dist_cont['n_orders'])
plt.title('Pedidos por continente')
plt.xlabel('Continente')
plt.ylabel('Pedidos')
plt.tight_layout()
plt.show()

### 3.3 Retrasos y transportista (boxplot del retraso por `ship_via`)

In [ ]:
tmp = orders.copy()
tmp = tmp[tmp['required_date'].notna()]  # requeridos
tmp['delay_days'] = (tmp['shipped_date'] - tmp['required_date']).dt.days
# Los no enviados tendrán NaN en shipped_date -> NaN en delay_days; mantenemos para info
bp_data = [tmp.loc[tmp['ship_via']==sid, 'delay_days'].dropna() for sid in sorted(tmp['ship_via'].dropna().unique())]
labels = [str(int(sid)) for sid in sorted(tmp['ship_via'].dropna().unique())]

plt.figure()
plt.boxplot(bp_data, labels=labels, showfliers=False)
plt.title('Retraso (días) por transportista (ship_via)')
plt.xlabel('ID Transportista')
plt.ylabel('Días de retraso (negativo = llegó antes)')
plt.tight_layout()
plt.show()

### 3.4 Precio medio del pedido por país del cliente

In [ ]:
# Total por pedido = sum(quantity * unit_price * (1 - discount))
od = order_details.copy()
od['line_total'] = od['quantity'] * od['unit_price'] * (1 - od['discount'])
order_totals = od.groupby('order_id', as_index=False)['line_total'].sum()

orders_tot = orders.merge(order_totals, on='order_id', how='left').merge(customers[['customer_id','country']], on='customer_id', how='left')
precio_medio_pais = orders_tot.groupby('country', dropna=False)['line_total'].mean().reset_index(name='avg_order_value').sort_values('avg_order_value', ascending=False)
display(precio_medio_pais.head(10))

plt.figure()
top_n = precio_medio_pais.head(15)
plt.bar(top_n['country'].astype(str), top_n['avg_order_value'])
plt.xticks(rotation=45)
plt.title('Precio medio del pedido por país (Top 15)')
plt.xlabel('País')
plt.ylabel('Precio medio de pedido')
plt.tight_layout()
plt.show()

### 3.5 % de clientes sin pedidos

In [ ]:
clientes_total = customers['customer_id'].nunique()
clientes_con_pedido = orders['customer_id'].dropna().nunique()
pct_sin_pedido = (1 - clientes_con_pedido / clientes_total) * 100
print(f"Clientes totales: {clientes_total}\nClientes con al menos un pedido: {clientes_con_pedido}\n% sin pedidos: {pct_sin_pedido:.2f}%")

### 3.6 Productos más demandados y re-stock urgente

In [ ]:
demand = order_details.groupby('product_id', as_index=False)['quantity'].sum().rename(columns={'quantity':'qty_sold'})
prod_demand = products.merge(demand, on='product_id', how='left').fillna({'qty_sold':0})
# Re-stock urgente: unidades <= 20 y units_on_order = 0
urgent = prod_demand[(prod_demand['units_in_stock'] <= 20) & ((prod_demand['units_on_order'].fillna(0)) == 0)].copy()
urgent = urgent.sort_values(['units_in_stock','qty_sold'], ascending=[True, False])

display(prod_demand.sort_values('qty_sold', ascending=False).head(10)[['product_id','product_name','qty_sold']])
display(urgent[['product_id','product_name','units_in_stock','qty_sold']].head(15))

plt.figure()
top_demand = prod_demand.sort_values('qty_sold', ascending=False).head(15)
plt.bar(top_demand['product_name'].astype(str), top_demand['qty_sold'])
plt.xticks(rotation=90)
plt.title('Productos más demandados (Top 15)')
plt.xlabel('Producto')
plt.ylabel('Unidades vendidas')
plt.tight_layout()
plt.show()

## Ejercicio 4: Queries avanzadas

In [ ]:
# 4.1 Última vez que se pidió un producto de cada categoría
q(f"""
SELECT c.category_id, c.category_name, MAX(o.order_date) AS last_order_date
FROM {SCHEMA}.categories c
JOIN {SCHEMA}.products p ON p.category_id = c.category_id
JOIN {SCHEMA}.order_details od ON od.product_id = p.product_id
JOIN {SCHEMA}.orders o ON o.order_id = od.order_id
GROUP BY c.category_id, c.category_name
ORDER BY c.category_id
""")

In [ ]:
# 4.2 Productos nunca vendidos a su precio de catálogo
q(f"""
SELECT p.product_id, p.product_name
FROM {SCHEMA}.products p
WHERE NOT EXISTS (
  SELECT 1
  FROM {SCHEMA}.order_details od
  WHERE od.product_id = p.product_id
    AND od.unit_price = p.unit_price
)
ORDER BY p.product_id
""")

In [ ]:
# 4.3 Confections
q(f"""
SELECT p.product_id, p.product_name, p.category_id
FROM {SCHEMA}.products p
JOIN {SCHEMA}.categories c ON c.category_id = p.category_id
WHERE c.category_name = 'Confections'
ORDER BY p.product_id
""")

In [ ]:
# 4.4 Proveedores con todo descontinuado
q(f"""
SELECT s.supplier_id, s.company_name
FROM {SCHEMA}.suppliers s
WHERE NOT EXISTS (
  SELECT 1
  FROM {SCHEMA}.products p
  WHERE p.supplier_id = s.supplier_id
    AND p.discontinued = 0
)
ORDER BY s.supplier_id
""")

In [ ]:
# 4.5 Clientes >30 unidades de 'Chai' en un pedido
q(f"""
SELECT o.customer_id, o.order_id, SUM(od.quantity) AS qty_chai
FROM {SCHEMA}.orders o
JOIN {SCHEMA}.order_details od ON od.order_id = o.order_id
JOIN {SCHEMA}.products p ON p.product_id = od.product_id
WHERE p.product_name = 'Chai'
GROUP BY o.customer_id, o.order_id
HAVING SUM(od.quantity) > 30
ORDER BY qty_chai DESC
""")

In [ ]:
# 4.6 Clientes con freight total > 1000
q(f"""
SELECT o.customer_id, SUM(o.freight) AS total_freight
FROM {SCHEMA}.orders o
GROUP BY o.customer_id
HAVING SUM(o.freight) > 1000
ORDER BY total_freight DESC
""")

In [ ]:
# 4.7 Ciudades con 5 o más empleados
q(f"""
SELECT COALESCE(city,'(sin ciudad)') AS city, COUNT(*) AS num_empleados
FROM {SCHEMA}.employees
GROUP BY COALESCE(city,'(sin ciudad)')
HAVING COUNT(*) >= 5
ORDER BY num_empleados DESC, city
""")